@charset "UTF8";
/*Definição cabeçalho da pagina*/
#menu ul { 
  list-style:none;
  display:block;
  position:absolute;
  top:0px;
  left:650px;
  }
#menu li { 
  font-size:25px;
  background-color:#dddddd;
  padding:10px; 
  margin:2px;
  display:inline-block;
 }
 #menu li:hover {
  text-decoration:underline;
  background-color:#606060;
 }
 #menu a { 
  color:black;
  }
#menu a:hover { 
    color:#ffffff;
   }
#cabecalho img { 
  position:absolute;
  top:90px;
  left:1050px;
 }
#cabecalho { 
  border-bottom:3px solid black;
  height:380px;
  background:url(../_Imagens/html.png) 0px 110px;
  background-repeat: no-repeat;
 }
#interface { 
  width:1140px;
  padding:10px 10px 10px 10px; 
  margin:-20px auto 10px auto;
  background-color:#ffffff;
  box-shadow:0px 0px 10px black;
 }
 #rodape p{ 
  text-align: center;
  font-size:19pt;
  border-top:3px solid black;
  }
#introd h3 { 
  color:black;
  text-shadow:1px 1px 3px black;
  font-size:15pt;
  text-indent:30px;
 }
 #introd h2 { 
  color:black;
  text-shadow:1px 1px 3px black;
  font-size:20pt;
  text-indent:30px;
 }
  
  #titulo h1 { 
    text-align: left;
    text-indent:30px;
    text-shadow:1px 1px 3px black;
    font-size:25pt;
   } 
   #titulo h2 { 
    text-indent:30px;
    text-shadow:1px 1px 3px black;
    font-size:20pt;
    }
     #album { 
      width:900px;
      margin:50px auto;
      padding:50px auto;
      overflow:hidden;
      list-style:none;


     }
     #album li { 
      float:left;
      width:200px;
      height:200px;
      margin:10px;
      border:2px solid black;
      background-color: #ffffff;
      box-shadow:1px 1px 3px black;
      }
      #Foto01 { 
        background:url(../_Imagens/fotoboxe01.png);
        background-repeat: no-repeat;
        background-position:50% 50%;
       }
      #Foto02 { 
        background:url(../_Imagens/fotoboxe02.png);
        background-repeat: no-repeat;
        background-position:50% 50%;
       }
       #Foto03 { 
        background:url(../_Imagens/fotoboxe03.png);
        background-repeat: no-repeat;
        background-position:50% 50%;
       }
       #Foto04 { 
        background:url(../_Imagens/fotoboxe04.png);
        background-repeat: no-repeat;
        background-position:50% 50%;
       }
       #Foto05 { 
        background:url(../_Imagens/fotoboxe05.png);
        background-repeat: no-repeat;
        background-position:50% 50%;
       }
       #Foto06 { 
        background:url(../_Imagens/fotoboxe06.png);
        background-repeat: no-repeat;
        background-position:50% 50%;
       }
       #Foto01:hover { 
        background-size:230px;
        }
         #Foto02:hover { 
        background-size:230px;
        }
         #Foto03:hover { 
        background-size:200px;
        }
         #Foto04:hover { 
        background-size:200px;
        }
         #Foto05:hover { 
        background-size:200px;
        }
         #Foto06:hover { 
        background-size:230px;
        }
       #album li span { 
        opacity:1;
        text-shadow:1px 1px 3px black;
        color:black;
        font-size:17pt;
        line-height:370px;
        padding:2px;
        transition:1s;
        text-align:center;
        }
        #album li:hover span { 
          opacity:1;
         }











/*.album {
		width:800px;
		margin:0 auto;
		padding:50px;
		overflow: hidden;
		list-style:none;
 }
 li { 
	float:left;
	width: 200px;
	height:200px;
	margin:10px;
	border:10px solid #ffffff;
	box-shadow:1px 1px 3px rgba(0,0,0,0.4);
	background-color: #ffffff;
 }
 #Foto01 { 
 	background: url('../_Imagens/foto01.png') no-repeat;
 	background-position:50% 50%;
 	background-size:400px 400px;
 	background-color:#ffffff;
  }
 #Foto02 { 
 	background: url('../_Imagens/foto02.png') no-repeat;
 	background-position:50% 50%;
 	background-size:400px 400px;
 	background-color:#ffffff;
  }
  #Foto03 { 
 	background: url('../_Imagens/foto03.png') no-repeat;
 	background-position:50% 50%;
 	background-size:400px 400px;
 	background-color:#ffffff;
  }
  #Foto04 { 
 	background: url('../_Imagens/foto04.png') no-repeat;
 	background-position:50% 50%;
 	background-size:400px 400px;
 	background-color:#ffffff;
  }
  #Foto05 { 
 	background: url('../_Imagens/foto05.png') no-repeat;
 	background-position:50% 50%;
 	background-size:400px 400px;
 	background-color:#ffffff;
  }
  #Foto06 { 
 	background: url('../_Imagens/foto06.png') no-repeat;
 	background-position:50% 50%;
 	background-size:400px 400px;
 	background-color:#ffffff;
 	border-bottom:100px;
  }
   span { 
  	opacity:0;
  	color:#ffffff;
  	text-shadow:1px 1px 1px #000000;
  	background-color:rgba(0,0,0,0.4);
  	font-size:15pt;
  	line-height:370px;
  	padding:5px;
  	transition: 1s;
   }

   li:hover span { 
   	opacity:1;
    }
    #Foto01:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
    #Foto02:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
    #Foto03:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
    #Foto03:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
    #Foto04:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
    #Foto05:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
    #Foto06:hover { 
   	background-position:0px 0px;
   	background-size:200px 200px; 
    }
  	li:hover { 
  		-webkit-transform:scale(1.5) ;
  		transition:0.5s;
  	 }
     h1 { 
        text-align:center;
        font-family:Arial,sem sarif;
        font-size:20pt;
       }
       */


      