@charset "UTF-8";
#menu ul { 
		list-style:none;
		display:block;
		position:absolute;
		top:0px;
		left:700px;
 }
 #menu li { 
 		display:inline-block;
 		padding:12px;
 		margin:2px;
 		font-size:15pt;
 		transition:1s;
 	 }
 #menu li:hover  { 
 		background-color:#606060;
 		color:black;
 		text-decoration:underline;
  }
 #menu a { 
 	color:black;
  }
 #menu a:houver { 
 	background-color:#dddddd;
 	color:#ffffff;
  text-decoration:underline;
  }
 #cabecalho img { 
 	position:absolute;
 	top:100px;
 	left:1000px;
  }
  #cabecalho { 
  	border-bottom:3px solid black;
  	height:400px;
  	background:url(../_imagens/html.png) 0px 130px;
  	background-repeat:no-repeat;
   }
   #cabecalho h1 { 
   		font-size:25pt;
   		font-family: Arial,sans serif;
   		text-shadow:1px 1px 3px black;
   		text-indent:35px;
    }
    #cabecalho h2 { 
    	font-size:20pt;
    	font-family:Arial,sans serif;
    	text-shadow:1px 1px 3px black;
    	text-indent:35px;
     }
     #rodape p { 
     		text-align: center;
     		font-family:Arial,sans serif;
     		font-size:15pt;
        border-top:3px solid black;
      }
      #interface { 
      	width:1200px;
      	margin:-20px auto 10px auto;
      	padding:10px 10px 10px 10px;
      	background-color:#ffffff;
      	box-shadow:1px 1px 10px black;
       }
       #introd h2 { 
        color:black;
        font-size:25pt;
        text-shadow:1px 1px 3px black;
        text-indent:30px;
        }
        #introd h3 { 
          color:black;
          font-size:20pt;
          text-shadow:1px 1px 3px black;
          text-indent:30px;
         }
         #legen h2{
          font-family:Arial,sans serif;
          color:black;
          font-size:18pt;

         }
         #img { 
          text-align:center;
          }